<style>
  h1 { 
    font-family: "Parisienne", cursive; 
    padding: 5px; 
  }
  p {
  	margin-left: 25px;
  }
  body { 
    background-image: url('/images/snow-bears.png'); 
    height: 900px; 
    background-repeat: no-repeat; 
    background-color: #e7e8ea;
  }
  .float-right {
    float: right;
  }
  .margin {
    margin-top: 120px;
  }
  .note {
    background-color: #e0c1ff; 
    border-radius: 10px; 
    clear: both; 
    position: absolute; 
    width: 700px;
    height: 500px;
    left: 20px; 
    border: 1.5px solid #767171;
  }
  .text {
    margin-right: 300px;
    padding: 20px;
  }
  img {
    position: absolute;
    top: 100px;
    left: 380px;
    padding: 10px;
  }
</style>

<div class="note">
  <div class="text">
    <h1>Michal,</h1>
    <p>Who am I, but a tired mind, dreaming up a mid-winter's dream,
       of lines of code strewn together like gold to produce a love that is ours. 
       This web app is a place 
       to make no mistakes 
       as we move forward with TAOMAR tasks at hand. 
       Both silly and refined, 
       dreamt up by our minds, 
       no task too absurd to land.</p>

    <p>Consider my thoughts, 
       my time and my tinkers, 
       to be a reflection of my love. 
       Lots of time I have spent 
       to make in this world a tiny dent, 
       with insertions and deletions galore. 
       For you I implore, 
       this site (and your face) often adore,
       a crafted present so sweet. 
       Others money bought or sprinkled thought, 
       it is a holiday indeed.</p>

    <p>Happy Christmas, my dear, 
       and may you receive all of my love.</p>
    <h1 class="float-right">Rachel</h1>
    </div>
  <div>
    <%= image_tag("warm-hugs.png", :alt => "Warm Hugs", :class => "img-responsive") %>
  </div>
</div>



